<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/surveyG1?useUnicode=true&amp;characterEncoding=utf-8</property>
		<property name="hibernate.connection.username">root</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.connection.CharSet">utf-8</property>
		<property name="hibernate.connection.characterEncoding">utf-8</property>
		<property name="hibernate.connection.useUnicode">true</property>

		<property name="connection.pool_size">10</property>

		<property name="show_sql">true</property>

		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="fr.humanbooster.fx.enquetes.business.Criteria"></mapping>
		<mapping class="fr.humanbooster.fx.enquetes.business.Department"></mapping>
		<mapping class="fr.humanbooster.fx.enquetes.business.Fact"></mapping>
		<mapping class="fr.humanbooster.fx.enquetes.business.PartnerSite"></mapping>
		<mapping class="fr.humanbooster.fx.enquetes.business.Question"></mapping>
		<mapping class="fr.humanbooster.fx.enquetes.business.Survey"></mapping>
		<mapping class="fr.humanbooster.fx.enquetes.business.SurveyPhone"></mapping>
		<mapping class="fr.humanbooster.fx.enquetes.business.SurveyInternet"></mapping>

	</session-factory>

</hibernate-configuration>